.customScrollbar::-webkit-scrollbar {
  width: 8px;
}

.customScrollbar::-webkit-scrollbar-thumb {
  background-color:var(--primary-light-4);
  border-radius: 8px !important;
}

.customScrollbar::-webkit-scrollbar-track {
  background: var(--primary-light-4);
  border-radius: 8px !important;
}

.customScrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--primary-light-4);
}
