@keyframes pulse-glow {
    0% {
      box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
    }
    70% {
      box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
  }
  
  .red-dot {
    position: absolute;
    top: -2px;
    right: -2px;
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 9999px;
    animation: pulse-glow 1.5s infinite;
    z-index: 10;
  }
  