@import "./board.scss";
@import "./languageswitcher.scss";
@import "./messaging.scss";
@import "./tutorial.scss";

.ant-btn-primary {
  background-color: #0080ff !important;
  border: 1px solid #0080ff;
  &:hover {
    color: #0e87fe !important;
    background-color: rgba(0, 0, 0, 0) !important;
  }
}

.ant-btn.ant-btn-primary:not(.ant-btn-dangerous) {
  background-color: #0080ff;
}
button.ant-switch {
  background-color: rgba(0, 0, 0, 0.25);
}

.my-vacancies-grid > .ant-ribbon-wrapper {
  width: min-content;
  min-width: 60%;
  max-width: 100%;
}

.split-view-view {
  overflow: scroll !important;
  min-height: 80vh;
}
.split-view-view-visible,
.split-view {
  min-height: 80vh;
}
.ReactModal__Overlay {
  z-index: 999;
}

.ant-float-btn .ant-float-btn-body .ant-float-btn-content .ant-float-btn-icon {
  margin: 0% !important;
  width: auto !important;
}

.custom-button.ant-btn-primary {
  background: #0E87FE !important;
}
.custom-button {
  background-color: #0E87FE !important;
  color: #ffffff !important;
}

.custom-button:hover {
  background-color: white !important;
  color: #0E87FE !important;
  // border: 1px solid #0E87FE !important;
}

.custom-container .ant-input {
  border-color: #D0D5DD !important;
}

.custome-antDesign-Upload .ant-upload{
  width: 100%;
}


.action-button{
  height: 40px;
}



